In [18]:
import pandas as pd

In [19]:
df_iso_alpha = pd.read_csv("CountryCode-iso_alpha.csv", index_col=False);
df_iso_alpha2 = pd.read_csv("CountryCode-iso_alpha2.csv", index_col=False);

In [20]:
df_iso_alpha = df_iso_alpha[["COUNTRY","CODE"]]
df_iso_alpha = df_iso_alpha.rename(columns={"COUNTRY":"Country","CODE":"Code"});

df_iso_alpha2_og = df_iso_alpha2.copy()
df_iso_alpha2 = df_iso_alpha2[["name","alpha-3"]];
df_iso_alpha2 = df_iso_alpha2.rename(columns={"name":"Country","alpha-3":"Code"});

df_iso_alpha_Final = pd.concat([df_iso_alpha, df_iso_alpha2], ignore_index=True);
df_iso_alpha_Final = df_iso_alpha_Final.drop_duplicates();
df_iso_alpha_Final.head()

          Country Code
0     Afghanistan  AFG
1         Albania  ALB
2         Algeria  DZA
3  American Samoa  ASM
4         Andorra  AND

In [21]:
df_iso_alpha2_og["sub-region"].unique().tolist()

['Southern Asia',
 'Northern Europe',
 'Southern Europe',
 'Northern Africa',
 'Polynesia',
 'Sub-Saharan Africa',
 'Latin America and the Caribbean',
 nan,
 'Western Asia',
 'Australia and New Zealand',
 'Western Europe',
 'Eastern Europe',
 'Northern America',
 'South-eastern Asia',
 'Eastern Asia',
 'Melanesia',
 'Micronesia',
 'Central Asia']

In [22]:
df_iso_alpha_Final["Region"] = "";
for i in df_iso_alpha_Final.index:
    for j in df_iso_alpha2_og.index:
        if df_iso_alpha_Final.loc[i, "Code"] == df_iso_alpha2_og.loc[j, "alpha-3"]:
            regionScope = "World";
            if (df_iso_alpha2_og.loc[j, "sub-region"] == 'Southern Asia') | (df_iso_alpha2_og.loc[j, "sub-region"] == 'Western Asia') | (df_iso_alpha2_og.loc[j, "sub-region"] == 'South-eastern Asia') | (df_iso_alpha2_og.loc[j, "sub-region"] == 'Eastern Asia') | (df_iso_alpha2_og.loc[j, "sub-region"] == 'Central Asia'):
                regionScope = "Asia";
            if (df_iso_alpha2_og.loc[j, "sub-region"] == 'Northern Europe') | (df_iso_alpha2_og.loc[j, "sub-region"] == 'Southern Europe') | (df_iso_alpha2_og.loc[j, "sub-region"] == 'Western Europe') | (df_iso_alpha2_og.loc[j, "sub-region"] == 'Eastern Europe'):
                regionScope = "Europe";
            if (df_iso_alpha2_og.loc[j, "sub-region"] == 'Northern Africa') | (df_iso_alpha2_og.loc[j, "sub-region"] == 'Sub-Saharan Africa'):
                regionScope = "Africa";
            if df_iso_alpha2_og.loc[j, "sub-region"] == 'Northern America':
                # if df_iso_alpha_Final.loc[i, "Country"] == "United States of America":
                #     regionScope = "USA";
                # else:
                #     regionScope = "North America";
                regionScope = "North America";
            if df_iso_alpha2_og.loc[j, "sub-region"] == 'Latin America and the Caribbean':
                regionScope = "South America";
            df_iso_alpha_Final.loc[i, "Region"] = regionScope;
df_iso_alpha_Final.head()

          Country Code  Region
0     Afghanistan  AFG    Asia
1         Albania  ALB  Europe
2         Algeria  DZA  Africa
3  American Samoa  ASM   World
4         Andorra  AND  Europe

In [23]:
df_iso_alpha_Final.loc[14, "Region"] = "South America";
df_iso_alpha_Final.loc[109, "Region"] = "Europe";
df_iso_alpha_Final.loc[218, "Region"] = "Asia";

In [24]:
df_iso_alpha_Final[df_iso_alpha_Final["Region"] == ""]

Empty DataFrame
Columns: [Country, Code, Region]
Index: []

In [28]:
df_iso_alpha_Final[df_iso_alpha_Final["Country"] == "United States"]

           Country Code         Region
211  United States  USA  North America

In [17]:
df_iso_alpha_Final.to_csv("CountryCode-iso_alpha_Final.csv", index=False);